body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.journey {
  margin-top: 60px;
}

.journey_item{
  position: relative;
}

.dot_progress{
  width: 121px;
  height: 2px;
  border: 0;
  background-color: #EAEBEB;
  position: absolute;
  right: -5.8rem;
  top: -2px;
  z-index: -1;
}

.dot_progress.done{
  background-color: #76CDD8;
}

.dot {
  cursor: pointer;
  margin-top: -16px;
  width: 42px;
  height: 42px;
  background-color: #EAEBEB;
  border-radius: 50%;
  border: 0;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.dot.active{
  background: #fff;
  color: #000;
  border: 2px solid #76CDD8;
}

.dot.done{
  background: #76CDD8;
  color: #fff;
  border: 0;
}

.journey__list {
  margin-top: -22px;
}

.journey__list ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.journey_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 12px;
}

.journey_item p{
  display: block;
  width: 100px;
  height: 100px;
}

.journey__section__content{
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.steps{
  display: none;
}

.steps.active{
  display: block;
}

.steps__item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
  background: #fff;
  border-radius: 16px;
  padding: 0px 16px;
  margin-right: 16px;
  cursor: pointer;
}

.steps__item.active{
  background: #E5FCFF;
}

.steps__item.active button{
  background: #fff;
}

.steps__item.active p{
  font-weight: 600;
}

.steps__item_circle{
  display: inline-block;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  color: #76CDD8;
  background: #E5FCFF;
  border: 0;
  padding: 12px 13px;
  border-radius: 50%;
}

.steps__item_text{
  margin-left: 16px;
  padding: 0;
}

.checklist{
  border: 2px solid #EAEBEB;
  border-radius: 16px;
  padding: 25px;
  margin-bottom: 32px;
}

.checklist h2{
  font-weight: 800;
  margin-bottom: 16px;
}

.check__item {
  display: flex;
  align-items: flex-start;
}

.check__item h3 {
  margin: 0 0 16px 0;
  font-family: Montserrat;
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.check__item p{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 29px;
}

.check__item_button {
  background: transparent;
  position: relative;
  cursor: pointer;
  display: block;
  border: 2px solid #263852;
  padding: 19px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 20px;
}

.check__item_doneButton {
  display: flex;
  margin-right: 15px;
  cursor: pointer;
  width: 42px;
  height: 42px;
  margin-bottom: 20px;
}